@import './base.css';

#app {
  margin: auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #89b6bd;
  margin: 3px;
  transition: transform 500ms;
}

@media (hover: hover) {
  a:hover {
    color: #516a6e;
    font-weight: 700;
    transform: scale(1.05);
  }
}

@media (min-width: 1024px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
}
